#page {
    padding-bottom: 60px;
  }
  
  $input-height: 30px;
  $input-border-radius: 8px;
  
  .v-text-field {
    position: relative; // Allow label positioning (children cannot have "position")
    margin-top: 0; // Add space for fixed label
  
    // Having relative position messes up labels.
    //   Labels must be positioned relative to ".v-text-field" (icon issues)
    .v-input__control,
    .v-input__slot,
    .v-text-field__slot,
    .v-menu,
    .v-menu__activator {
      position: unset;
    }
  
    // Align appended/preppended outer icons properly (must be fixed)
    .v-input__append-outer,
    .v-input__prepend-outer {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    // Align appended/preppended inner icons properly (can use flex)
    .v-input__append-inner,
    .v-input__prepend-inner {
      align-self: center;
      margin: 0;
      padding: 0;
    }
    .v-input__prepend-inner {
      margin-right: 8px;
    }
    .v-input__append-inner {
      margin-left: 8px;
    }
  
    // Input component/icons (above details)
    .v-input__slot {
      height: $input-height;
      padding: 4px 8px;
      border: 1px solid #bccaca;
      border-radius: $input-border-radius;
      transition: border-color 0.2s ease-in-out;
  
      // Remove default input underline
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
  
      input {
        padding: 0; // Reset padding
      }
  
      label {
        transform: translateY(-32px); // Position label vertically
        font-size: 18px;
        transition: color 0.2s ease-in-out;
      }
    }
  
    // Disabled input
    &.v-input--is-disabled {
      .v-input__slot {
        background-color: #eeeeee;
      }
    }
  
    // Error state
    &.v-input--has-state.error--text:not(.v-input--is-focused) {
      .v-input__slot {
        border-color: #ff5252; // Replacement for 'underline' behaviour
      }
    }
  
    // Highlight currently focused field
    &.v-input--is-focused {
      .v-input__slot {
        border-color: #04b7bd; // Replacement for 'underline' behaviour
      }
  
      // When errors fields are focused only the border should change,
      //   and all other error colours should remain (label, icons, etc).
      &:not(.v-input--has-state):not(.error--text) {
        .v-label {
          color: #04b7bd !important; // Vuetify override (".primary--text")
        }
  
        // Focused icon colours
        .v-input__append-inner i,
        .v-input__append-outer i,
        .v-input__prepend-inner i,
        .v-input__prepend-outer i {
          color: #04b7bd !important; // Vuetify override (".primary--text")
          transition: color 0.15s ease-in-out; // Shorter transition to avoid "jump"
        }
      }
    }
  
    // Progress indicator
    .v-progress-linear {
      top: calc(#{$input-height} + 2px);
      left: #{$input-border-radius};
      width: calc(100% - #{$input-border-radius} * 2);
      border-radius: 2px;
    }
  }
  
  .menu__content--select {
    border-radius: 8px;
  }